<header>
    <div>
        <nav>
            
            <li><a href="/dataform"></a></li>
            <li><a href="/datapage"></a></li>
            <li><a href="/logout"></a></li>
        </nav>
    </div>
</header>