<header>
    <div class="headerNav">
        <div class="navLogo">
            <img src="assets/wildLogoSmall.jpg" alt="">
        </div>
        <div class="nav">
            <nav>
                <ul>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/dataform">Data Form</a></li>
                    <li><a href="/datapage">Data</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
        
    </div>
</header>