<header>
    <div class="headerNav">
        <div class="navLogo">
            <img src="assets/wildLogoSmall.jpg" alt="">
        </div>
        <div>
            <nav>
                <li><a href="/dataform">Data Form</a></li>
                <li><a href="/datapage">Data</a></li>
                <li><a href="/logout">Logout</a></li>
            </nav>
        </div>
        
    </div>
</header>