body{
    margin: 0;
    width: 100%;
    color: #444444;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: #fdf9eb;
}
main{
    margin-left: 50px;
    margin-right: 50px;
}
/* LOGIN / SIGN UP PAGE */

.loginHero {
    width: 40%;
    height: 100%;
    background-image:  url('/assets/indexBG.jpg'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: multiply;
    /* background-blend-mode: overlay; */
    /* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    margin-left: 40%;
    height: 100%;
    background: #fdf9eb;
}

.loginLogo img{
    width: 500px;
    height: 500px;
    /* mix-blend-mode: multiply; */
}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loginForm form input[type=text]{
    margin-top: 20px;
    width: 200px;
    font-size: 16px;
    padding: 15px;
    border-radius: 40px;  
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.loginForm form input[type=password]{
    margin-top: 20px;
    width: 200px;
    font-size: 16px;
    padding: 15px;
    border-radius: 40px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.loginForm form input[type=submit]{
    margin-top: 20px;
    width: 150px;
    font-size: 16px;
    padding: 15px;
    color: #ffffff;
    border-radius: 40px;
    border-style: none;
    background-color: #444444;
    /* box-shadow:  20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff; */
    cursor: pointer;
}
button{
    margin-top: 20px;
    width: 150px;
    font-size: 16px;
    padding: 15px;
    color: #ffffff;
    border-radius: 40px;
    border-style: none;
    background-color: #444444;
    /* box-shadow:  20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff; */
    cursor: pointer;
}

/* HEADER */
.headerNav{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navLogo img{
    width: 300px;
    height: 100px;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

nav li a{
    font-size: 20px;
    color: #444444;
    padding: 8px 16px;
    text-decoration: none;
}


/* DATA PAGE */

.search{
    margin-bottom: 50px;
}

.search form input[type=search]{
    margin-top: 20px;
    width: 400px;
    font-size: 16px;
    padding: 15px;
    border-radius: 40px;  
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
}

.search form input[type=submit]{
    margin-top: 20px;
    width: 150px;
    font-size: 16px;
    padding: 15px;
    color: #ffffff;
    border-radius: 40px;
    border-style: none;
    background-color: #444444;
    /* box-shadow:  20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff; */
    cursor: pointer;
}




table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 12px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}


/* DATA FORM */


.dataForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dataForm form input[type=text]{
    margin-top: 20px;
    width: 400px;
    font-size: 16px;
    padding: 15px;
    border-radius: 40px;  
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    /* box-shadow:  20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff; */
}

.dataForm form select{
    margin-top: 20px;
    width: 400px;
    font-size: 16px;
    padding: 15px;
    border-radius: 40px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    /* box-shadow:  20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff; */
}

.dataForm form input[type=file]{
    margin-top: 20px;
    width: 400px;
    font-size: 16px;
    padding: 15px;
    border-radius: 40px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    /* box-shadow:  20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff; */
}

.dataForm form input[type=submit]{
    margin-top: 20px;
    width: 150px;
    font-size: 16px;
    padding: 15px;
    color: #ffffff;
    border-radius: 40px;
    border-style: none;
    background-color: #444444;
    /* box-shadow:  20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff; */
    cursor: pointer;
}


/* DASHBOARD */

.totalWild{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50%;
    font-size: 16px;
    padding: 5px;
    color: #ffffff;
    border-radius: 40px;
    border-style: none;
    background-color: #444444;
}
.totalWild h2{
    margin-left: 15px;
}


.charts{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}






/* FOOTER */
footer h2{
    text-align: center;
    font-size: 16px;
}