<!DOCTYPE html>
<html>
    <head>
        <title>DashBoard</title>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#ffffff">
        <link rel="apple-touch-icon" href="styles/images/logo/UWP/ABZ_icon256.png">
        <link rel="icon" type="image/x-icon" href="images/logo/favicon.png">
        <link rel="stylesheet" href="css/main.css"/>
    </head>
    <body>
        
    </body>
</html>